.contenido {
  display: grid;
  align-items: flex-start;
  gap: 5rem;
}

@media (min-width:768px) {
  .contenido {
    grid-template-columns: 3fr 2fr;
  }

  .select {
    width: 100%;
  }
}

.carrito {
  padding: 3rem 0;

}

.producto {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  gap: 4rem;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

@media (min-width:400px) {
  .producto {
    grid-template-columns: 1fr 2fr;
    grid-template-columns: none;
  }

  .producto :first-child img {
    display: block;
    margin: 0px auto;
  }

}

.producto:last-of-type {
  border: none;
}

.producto p {
  margin: 0 0 1rem 0;

}

.producto span {
  font-weight: 900;
  font-size: 3.2rem;
}

.nombre {
  font-weight: 700;
  font-size: 4.2rem;

}

.select {
  all: unset;
  border: 1px solid var(--black);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  width: 90%;
  margin-bottom: 2rem;
  box-sizing: border-box;

}

@media (min-width:768px) {
  .select {
    width: 100%;
  }
}

.precio {
  font-weight: 700;
  color: var(--primary);
}

.subtotal {
  font-size: 2.2rem;
}

.resumen {
  background-color: #c4cdd6;
  padding: 3rem;
  border-radius: 1rem;
  position: sticky;
  top: 3rem;
}

.resumen p span {
  font-weight: 800;
}

.eliminar {
  all: unset;
  position: absolute;
  top: 3rem;
  right: 1rem;
  font-weight: 900;
}

.eliminar:hover {
  cursor: pointer;
}

.comprar {
  all: unset;
  display: block;
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: var(--black);
  cursor: pointer;
  transition: all 500ms;
  color: white;
}

.comprar:hover {
  background-color: red;
  transition: all 500ms;
}